# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtualenv
venv/

# SQLite / banco local
instance/*.db
instance/*.sqlite
instance/*.sqlite3
instance/google-service-account.json

# VS Code
.vscode/
.env

# Dados sensíveis
usuarios.csv

# Logs
*.log
server_current.err
